@import '@style/shared/index';

.parallax {
  margin: $sectionMarginMobile;
  @include tabletL {
    margin: $sectionMarginDesktop;
  }
  &__picture {
    height: 100% !important;
  }
  &__content {
    height: 25rem;
    overflow: hidden;
    position: relative;
    @include tabletP {
      height: 40rem;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: -5rem;
    width: 100%;
    transform: translate(0, 5rem);
    height: calc(100% + 10rem);
    will-change: transform;
    @include tabletP {
      top: -15rem;
      width: 100%;
      transform: translate(0, 15rem);
      height: calc(100% + 30rem);
    }
    @include deskHD {
      top: -25rem;
      transform: translate(0, 25rem);
      height: calc(100% + 50rem);
    }
  }
}