@import '@style/shared/index';

.parallax {
  margin: $sectionMarginMobile;
  @include tabletL {
    margin: $sectionMarginDesktop;
  }
  &__image {
    margin: 0 -2.5rem;
    width: calc(100% + 5rem);
    height: 25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tabletP {
      margin: 0;
      width: 100%;
      height: 40rem;
    }
  }
}