@import '../shared/index';
.logo {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  @include tabletP {
    font-size: 3rem;
  }
  img,
  picture {
    width: auto;
    height: 3.5rem!important;
    object-fit: contain!important;
    @include tabletP {
      height: 4.5rem!important;
    }
  }
  span {
    font-weight: 900;
    font-family: sans-serif;
    color: $primaryDark;
    &:last-of-type {
      color: $primaryRed;
    }
  }
}