// container padding
$gridSpacerMobile: 2.5rem;
$gridSpacerTabletP: 3rem;
$gridSpacerTabletL: 3rem;
$gridSpacerDesk: 5rem;

// breakpoints
$breakpointTabletP: 768px; // portrait
$breakpointTabletL: 1024px; // landscapee
$breakpointDesk: 1366px;
$breakpointDeskHD: 1920px;

// fonts
$fontFamilyPrimary: 'sans-serif';
$fontFamilySecondary: 'sans-serif';
$fontWeightNormal: normal;
$fontWeightMedium: 500;
$fontWeightBold: bold;

// transition
$transition-base: 0.3s ease-in-out;