$sectionMarginMobile: 2.5rem 0;
$sectionMarginDesktop: 6rem 0;

// container padding
$gridSpacerMobile: 2.5rem;
$gridSpacerTabletP: 3rem;
$gridSpacerTabletL: 3rem;
$gridSpacerDesk: 5rem;

// breakpoints
$breakpointTabletP: 768px; // portrait
$breakpointTabletL: 1024px; // landscapee
$breakpointDesk: 1366px;
$breakpointDeskHD: 1920px;

// fonts
$fontFamilyPrimary: 'Poppins', sans-serif;
$fontFamilySecondaryMedium: 'Montserrat-medium', sans-serif;
$fontFamilySecondaryBold: 'Montserrat-bold', sans-serif;
$fontFamilySecondary: 'Montserrat-regular', sans-serif;
$fontWeightNormal: normal;
$fontWeightMedium: 500;
$fontWeightBold: 700;

// transition
$transition-base: 0.3s ease;